# Server
PORT=:8080
# SERVER_ID=server-1
PRODUCTION_ENVIRONMENT=false
CLIENT_DOMAIN=localhost
PROJECT_NAME=rider


# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=secret

# RabbitMQ
RABBITMQ_ADDR=localhost:5672
RABBITMQ_PASSWORD=guest

